@import '../../variables.scss';

.Wedding{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: $lightMain;
}

.videos{
    
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    color: white;
}

.videos_content{
    display: flex;
    flex-direction: column;
    margin: auto;

    .modal_btn{
        width: 430.5px;
        height: 242px; 
    }
    .catch:hover{
        cursor: pointer;
        background: rgba(255, 255, 255, 0.144);
    }
    .catch{
        width: 430.5px;
        height: 242px;
        background: transparent;
        position: absolute;
        z-index: 2;
    }
    iframe{
        width: 430.5px;
        height: 242px;
        position: absolute;
        
    }
    button{
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
    }
    button:hover{
        background: rgba(255, 255, 255, 0.562);
        border: 1px solid red;
        color: red;
    }
}

.title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: $fancyFont;
    text-shadow: 1px 1px black;
    
}

.input{
    input{
        border-radius: 5px;
        border: 1px solid rgb(92, 92, 92);;
    }
    button{
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
    }
    button:hover{
        background: rgba(255, 255, 255, 0.562);
        border: 1px solid red;
        color: red;
    }
}

.Modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width:50vw;
    // height: 50vw;
    background-color: transparent;
    outline: none;
    
    iframe{
        width: 861px;
        height: 484px;
        border: 3px solid rgb(46, 46, 46);
        border-radius: 5px;
    }
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
    animation: fadeIn .5s;
  }
  @keyframes fadeIn{
    from {opacity: 0};
    to {opacity: 1};
}


@media (max-width: 1000px){
    .Modal {
        iframe{
            width: 711px;
            height: 400px;
        }
      }
}

@media (max-width: 750px){
    .videos_content{
        iframe{
            border-radius: 5px;
        }
    }
    .catch {
       display: none;
      }
}
@media (max-width: 450px){
    .videos_content{
        iframe{
            width: 98vw;
            height: 220px;
            border-radius: 5px;
        }
        .modal_btn{
            width: 98vw;
            height: 220px; 
        }
        .catch{
            width: 98vw;
            height: 220px;
            background: transparent;
            position: absolute;
            z-index: 2;
        }
    }
}