.Wedding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.videos {
  background: peachpuff;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center; }

.video {
  margin: 20px; }
