@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Yellowtail");
.Wedding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #a6daf8; }

button {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black; }

button:hover {
  background: rgba(255, 255, 255, 0.562);
  border: 1px solid red;
  color: red; }

.top_wedding {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .top_wedding .featured_title {
    font-family: "Lobster", cursive;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px black; }
  .top_wedding .top_content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .top_wedding .top_content iframe {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 900px;
      height: 484px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .top_wedding p {
    max-width: 650px;
    text-align: center;
    font-family: "Arima Madurai", cursive;
    padding: 10px; }

.videos {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  color: white; }

.videos_content {
  display: flex;
  flex-direction: column;
  margin: auto; }
  .videos_content .modal_btn {
    width: 430.5px;
    height: 242px; }
  .videos_content .catch:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.144); }
  .videos_content .catch {
    width: 430.5px;
    height: 242px;
    background: transparent;
    position: absolute;
    z-index: 2; }
  .videos_content iframe {
    width: 430.5px;
    height: 242px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Lobster", cursive;
  text-shadow: 1px 1px black; }

input {
  border-radius: 5px;
  border: 1px solid #5c5c5c; }

button {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black; }

button:hover {
  background: rgba(255, 255, 255, 0.562);
  border: 1px solid red;
  color: red; }

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .input .add {
    margin-top: 20px; }

.Modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  outline: none; }
  .Modal iframe {
    width: 861px;
    height: 484px;
    border: 3px solid #2e2e2e;
    border-radius: 5px; }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.562);
  animation: fadeIn .5s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (min-width: 1700px) {
  .videos {
    width: 90vw; } }

@media (max-width: 1000px) {
  .top_wedding p {
    max-width: none;
    width: 70%; }
  .top_wedding .top_content iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 60vw; }
  .Modal iframe {
    width: 711px;
    height: 400px; } }

@media (max-width: 750px) {
  .videos_content iframe {
    border-radius: 5px; }
  .catch {
    display: none; } }

@media (max-width: 450px) {
  .videos_content iframe {
    width: 98vw;
    height: 220px;
    border-radius: 5px; }
  .videos_content .modal_btn {
    width: 98vw;
    height: 220px; }
  .videos_content .catch {
    width: 98vw;
    height: 220px;
    background: transparent;
    position: absolute;
    z-index: 2; } }
