.Messageboard{
    // display: flex;
    // flex-direction: row;
}

.customer{
    background: peachpuff;
    width: 50vw;
    float: left;
}

.information{
    background: cornsilk;
    width: 50vw;
    float: right;
}

