@import '../../variables.scss';

.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $lightMain;
    // align-items: center;
}

.contactpic{
    width: 100vw;
}
.form{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    h2{
        font-weight: bold;
        font-size: 25px;
    }
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.personal_info{
    background-color: tan;
    width: 40vw;
    border-radius: 5px;
    padding: 20px;

}


.event_info{
    background-color: tan;
    width: 40vw;
    border-radius: 5px;
    font-family: $paragraph;
    padding-top: 20px;
    .wedding_top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
        padding: 0 20px 0 20px
    }

    textarea{
        border-radius: 5px;
        border: 1px solid #eee;
        background: rgba(255, 255, 255, 0.438);
        margin: 5px;
        margin-bottom: 10px;
        width: 55%;
        height: 100px;
        max-width: 90%;
        padding: 5px 15px 0 15px;;
    }
}

.submit{
    font-family: $thinFont;
    font-weight: bold;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 60px;
}

.submit:hover{
    background: rgba(255, 255, 255, 0.562);
    cursor:pointer;
    
}

@media (min-width: 1700px){ 
    .personal_info{
        width: 30vw;
    }
    .event_info{
        width: 30vw;
    }
}

@media (max-width: 800px){

.personal_info{
        width: 70vw;
        border-radius: 5px;
        h2{
            font-size: 20px;
        }
    }
    .event_info{
    width: 70vw;
    border-radius: 5px;
        h2{
            font-size: 20px;
        }
        textarea{
            width: 90%;
          }
    }
    }

@media (max-width: 450px){
    
        .personal_info{
            width: 90vw;
        }
        .event_info{
             width: 90vw;
             font-size: 13px;
             textarea{
                width: 90%;
            }
                
        }
    }
