.Contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: peachpuff; }

.contactpic {
  width: 100vw; }

.form {
  width: 50vw;
  margin: auto;
  padding: 20px;
  text-align: center; }
