@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: peachpuff; }

.contactpic {
  width: 100vw; }

.form {
  text-align: center;
  display: flex;
  justify-content: center; }

.personal_info {
  background-color: rgba(128, 128, 128, 0.288);
  width: 40vw;
  border-radius: 5px; }

.wedding_info {
  background-color: rgba(128, 128, 128, 0.288);
  width: 40vw;
  border-radius: 5px; }
  .wedding_info .wedding_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .wedding_info textarea {
    border-radius: 5px;
    border: 1px solid #eee;
    background: rgba(255, 255, 255, 0.438);
    margin: 5px;
    margin-bottom: 10px;
    width: 55%;
    height: 100px;
    max-width: 100%;
    padding: 5px 15px 0 15px; }

.submit {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  width: 60px; }

.submit:hover {
  background: rgba(255, 255, 255, 0.562); }

@media (max-width: 800px) {
  .personal_info {
    width: 70vw;
    border-radius: 5px; }
    .personal_info h2 {
      font-size: 20px; }
    .personal_info input {
      margin-bottom: 15px;
      width: 95%;
      height: 25px;
      padding: 0px 15px; }
  .wedding_info {
    width: 70vw;
    border-radius: 5px; }
    .wedding_info h2 {
      font-size: 20px; }
    .wedding_info .input_wedding input {
      display: flex;
      width: 95%;
      text-align: center;
      margin: auto;
      margin-bottom: 10px; }
      .wedding_info .input_wedding input textarea {
        width: 90%; } }

@media (max-width: 450px) {
  .personal_info {
    width: 90vw; }
  .wedding_info {
    width: 90vw;
    font-size: 13px; }
    .wedding_info textarea {
      width: 90%; } }
