@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Yellowtail");
.footer {
  width: 100%;
  background: gray;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #96aab9;
  font-family: "Amatic SC", cursive; }
  .footer h3 {
    margin-top: 15px;
    font-size: 40px;
    font-weight: bold; }
  .footer h4 {
    font-weight: bold;
    font-size: 25px; }
  .footer span {
    font-size: 15px; }
  .footer a {
    text-decoration: none;
    color: #96aab9; }

.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  margin-bottom: 60px; }

a {
  margin: 20px; }

.finePrint {
  font-size: 10px; }

.login {
  margin-bottom: 10px; }
  .login p {
    font-size: 10px; }
  .login a {
    text-decoration: none; }
  .login span {
    color: #2e2c2c;
    padding: .5px 10px .5px 10px;
    font-size: 10px;
    border-style: solid;
    border-width: .05px; }

@media (max-width: 400px) {
  .footer img {
    height: 45px;
    width: 45px; } }
