.footer {
  width: 100%;
  background: gray;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer h3 {
    margin-top: 15px; }

.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  margin-bottom: 60px; }

a {
  margin: 20px; }

.finePrint {
  font-size: 10px; }

.login p {
  font-size: 10px; }

.login a {
  text-decoration: none; }

.login span {
  color: #2e2c2c;
  padding: .5px 10px .5px 10px;
  font-size: 10px;
  border-style: solid;
  border-width: .05px; }

@media (max-width: 400px) {
  .footer img {
    height: 45px;
    width: 45px; } }
