@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');




$lightMain: rgb(94, 233, 212);
 
$fancyFont: 'Lobster', cursive;
$thinFont: 'Poiret One', cursive;
$paragraph: 'Arima Madurai', cursive;