@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Yellowtail");
.nav {
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.445);
  width: 100vw;
  color: white;
  text-shadow: 1px black;
  height: 50px;
  font-size: 25px;
  font-family: "Yellowtail", cursive;
  border-bottom: 2px solid white; }

.link {
  text-decoration: none;
  color: white; }

.link:hover {
  transition: .5s;
  color: #ffd500; }

.link:active {
  color: #ffd500; }

.slide {
  position: relative;
  display: none; }

.closebtn {
  margin-right: 10px; }

@media (max-width: 450px) {
  .nav {
    background: transparent;
    position: fixed;
    border-bottom: none; }
    .nav .link {
      display: none; }
    .nav .slide_link {
      text-decoration: none;
      color: white; }
    .nav .slide {
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 20px; }
    .nav .slide_content {
      position: absolute;
      left: -20px;
      top: -20px;
      padding-top: 60px;
      background: rgba(0, 0, 0, 0.658);
      height: 100vh;
      width: 130px;
      transition: .8s;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .nav .slide_content .closebtn {
        position: absolute;
        top: 0;
        right: 0; }
    .nav .close {
      width: 0px;
      overflow: hidden; } }
