@import '../../variables.scss';

.nav{
    z-index: 2;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.445);
    width: 100vw;
    color: white;
    text-shadow: 1px black;
    height: 50px;
    font-size: 20px;
    
}
.link{
    text-decoration: none;
    color: white
}

.link:hover{
    font-size: 22px;
    transition: .5s;
    color: $lightMain;
}

.slide{
    position: relative;
    display: none;
}





@media (max-width: 450px){
    .nav{
        background: transparent;

        .link{
            display: none;
        }
        .slide_link{
            // padding-left: 20px;
            text-decoration: none;
            color: white
        }
        .slide{
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .slide_content{
            position: absolute;
            left: -20px;
            top: -20px;
            background: rgba(0, 0, 0, 0.658);
            height: 100vh;
            width: 100px;
            transition: .8s;
            display: flex;
            flex-direction: column;
            align-items: center;
            .closebtn{
                position: absolute;
                top:0;
                right:0;
            }
        }

        .close{
            width: 0px;
            overflow: hidden;
        }
    }
}