.nav {
  z-index: 2;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(128, 128, 128, 0.26);
  width: 100vw;
  color: white;
  text-shadow: 1px black;
  height: 50px; }

.link {
  text-decoration: none;
  color: white; }

.dropdown {
  position: relative;
  display: none; }

@media (max-width: 450px) {
  .nav {
    background: transparent; }
    .nav .link {
      display: none; }
    .nav .dropdown {
      position: absolute;
      left: 10px;
      display: inline-block;
      text-decoration: none; }
    .nav .dropdown:hover .dropdown-content {
      display: block;
      width: 100vw;
      color: black; }
    .nav .dropdown-content {
      display: none;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
      .nav .dropdown-content p {
        text-decoration: none; } }
